body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.main {
    display: flex;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
    min-height: 100vh;
}
.main h2 {
    text-align: center;
}
.main > div:nth-child(1) {
    padding-bottom: 50px;
}

.picker {
    display: flex;
    align-items: center;
}

.picker div:not(:nth-child(3)) {
    margin-right: 30px;
}
